div{
    transition: .5s;
    height: 100px;
    width: 100px;
    border: 5px solid black;
}

div:hover{
    background-color: red;
    -webkit-transition: 1s;
    transition: 1s;
}

html{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: auto;
}